<ul class="pagination">
  <li class="{{ if .Paginator.HasPrev }}active{{ else }}disabled{{ end }}">
    <span class="fa-lg">{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}" aria-label="Previous">{{ end }}
        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;{{ with .Site.Params.previousPageLabel }}{{ . }}{{ else }}Newer{{ end }}
      {{ if .Paginator.HasPrev }}</a>{{ end }}</span>
  </li>

  <li class="active">
    <span class="fa-lg">
      <a href="/post/">
        {{ with .Site.Params.archiveLabel }}{{ . }}{{ else }}Archive{{ end }}
      </a>
    <span>
  </li>

  <li class="{{ if .Paginator.HasNext }}active{{ else }}disabled{{ end }}">
    <span class="fa-lg">{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}" aria-label="Next">{{ end }}
        {{ with .Site.Params.nextPageLabel }}{{ . }}{{ else }}Older{{ end }}&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
      {{ if .Paginator.HasNext }}</a>{{ end }}</span>
  </li>
</ul>
